doctype html
html
  head
    title Rails5TurboReact
    = csrf_meta_tags
    = action_cable_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  body
    section data-app="leovegas"
      = react_component('NavigationBox', {:prerender => true})
      .container
        = yield

    javascript:
      I18n.defaultLocale = "#{I18n.default_locale}"
      I18n.locale = "#{I18n.locale}"
